@font-face {
	font-family: 'Sailec';
	src: url('fonts/Sailec-Hairline.eot');
	src: url('fonts/Sailec-Hairline.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Sailec-Hairline.woff') format('woff'),
	     url('fonts/Sailec-Hairline.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Sailec';
	src: url('fonts/Sailec-Thin.eot');
	src: url('fonts/Sailec-Thin.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Sailec-Thin.woff') format('woff'),
	     url('fonts/Sailec-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Sailec';
	src: url('fonts/Sailec-Light.eot');
	src: url('fonts/Sailec-Light.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Sailec-Light.woff') format('woff'),
	     url('fonts/Sailec-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Sailec';
	src: url('fonts/Sailec-Regular.eot');
	src: url('fonts/Sailec-Regular.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Sailec-Regular.woff') format('woff'),
	     url('fonts/Sailec-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sailec';
	src: url('fonts/Sailec-Medium.eot');
	src: url('fonts/Sailec-Medium.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Sailec-Medium.woff') format('woff'),
	     url('fonts/Sailec-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Sailec';
	src: url('fonts/Sailec-Bold.eot');
	src: url('fonts/Sailec-Bold.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Sailec-Bold.woff') format('woff'),
	     url('fonts/Sailec-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}



@font-face {
	font-family: 'Sailec';
	src: url('fonts/Sailec-Black.eot');
	src: url('fonts/Sailec-Black.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Sailec-Black.woff') format('woff'),
	     url('fonts/Sailec-Black.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}